{% extends "layout.html" %}
{% block content %}
<br>
    <h1>The Pitcher Stat Subset App</h1>
<br>
<div class="container-md">
<div class="row align-items-start">
<div class="col">
    <strong>Created by Corey Williams and Roberto Rutherford</strong>

    <h2>Welcome</h2>
    <p>The Pitcher Stat Subset App is a basic web application for the capture and management of a subset of MLB pitcher stats. The application includes a calendar to record stat subset capture dates, current pitcher stats and record edit features</p>

    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>Calendar</strong> - Data capture events are indicated on the in app calendar. Events are sourced from Google Calendar via API.</p>
        </div>
    </div>
</div>
</div>
<div class="row align-items-center">
<div class="col">
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>Data Table</strong> - Pitcher stat subset data is presented in table format. Metadata includes Name, Team, Position, Height Weight and Age. Pitcher name field is a hyperlink that provides access to the individual pitcher record.</p>
        </div>
    </div>
</div>
</div>
<div class="row align-items-center">
<div class="col">
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>API JSON Endpoint</strong> - JSON API endpoint has been provided as a reference for developers.</p>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}